<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>商品列表</title>
	<link rel="stylesheet" href="/stylesheets/goods_list.css" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
	<h2>
		<span class="actionS1"><a href="#">ECSHOP 管理中心</a></span>
			<span> - 商品列表 </span>
			<span class="help-wd">
				<a href="#"><img src="/imgs/jnsy.png"/></a>
			</span>
			<span class="shop-list right">
				<a href="#">添加新商品</a>
			</span>
	</h2>
	<div class="search-div">
		<form action="" name="searchFrm">
			<img src="/imgs/icon_search.gif" alt=""/>
			<select name="cat_id">
				<option value="0">所有分类</option>
				<option value="132" >钻石</option>
			</select>
			<select name="brand_id">
				<option value="">所有品牌</option>
				<option value="" >惠普</option>
				<option value="" >联想</option>
				<option value="" >海尔</option>
			</select>
			<select name="all01">
				<option value="">全部</option>
				<option value="" >精品</option>
				<option value="" >热销</option>
				<option value="" >新品</option>
			</select>
			<select name="all02">
				<option value="">全部</option>
				<option value="" >上架</option>
				<option value="" >下架</option>
			</select>
		          关键字
		    <input type="text" name="" size="15"/>
		    <input type="submit" value="搜索"/>
		</form>
	</div>
	<div class="mainCon">
		<table cellpadding="3" cellspacing="1" id="tabList">
			<tr>
				<th width="96">
					<input type="checkbox" />
					<a href="#">编号</a>
					<img src="/imgs/sort_desc.gif"/>
				</th>
				<th>
					<a href="#">商品名称</a>
				</th>
				<th>
					<a href="#">货号</a>
				</th>
				<th>
					<a href="#">价格</a>
				</th>
				<th>
					<a href="#">上架</a>
				</th>
				<th>
					<a href="#">精品</a>
				</th>
				<th>
					<a href="#">新品</a>
				</th>
				<th>
					<a href="#">热销</a>
				</th>
				<th>
					<a href="#">推荐排序</a>
				</th>
				<th>
					<a href="#">库存</a>
				</th>
				<th>
					<a href="#">虚拟销量</a>
				</th>
				<th>
					<a href="#">操作</a>
				</th>
			</tr>
		 <% for(var i=0; i<list.length; i++) { %>
	    	<tr>
	    		<td>
	    		<input type="checkbox"/>
	    		<%= sum %>
		    	</td>
		    	<td class="first-cell">
		    		<span title="点击修改内容"><%= list[i].goods_name %></span>
		    	</td>
		    	<td align="center">
		    		<span title="点击修改内容"><%= list[i].goods_sn %></span>
		    	</td>
		    	<td align="center">
		    		<span title="点击修改内容"><%= list[i].goods_price %></span>
		    	</td>
		    	<td align="center">
		    		<img src="/imgs/yes.gif"/>
		    	</td>
		    	<td align="center">
		    		<% if(list[i].is_best == "1") {%>
		    		<img src="/imgs/yes.gif"/>
		    		<% }else{ %>
		    		<img src="/imgs/no.gif"/>	
		    		<% } %>
		    	</td>
		    	<td align="center">
		    		<img src="/imgs/no.gif"/>
		    	</td>
		    	<td align="center">
		    		<img src="/imgs/yes.gif"/>
		    	</td>
		    	<td align="center">
		    		<span title="点击修改内容"><%= --sumgood %></span>
		    	</td>
		    	<td align="center">
		    		<span title="点击修改内容"><%= list[i].goods_number %></span>
		    	</td>
		    	<td align="center">
		    		<span title="点击修改内容"><%= list[i].virtual_sales %></span>
		    	</td>
		    	<td align="center">
		    		<a href="http://localhost:8080/" title="查看">
		    			<img src="/imgs/icon_view.gif" alt="" />
		    		</a>
		    		<a href="http://localhost:8080/goods_add" title="编辑">
		    			<img src="/imgs/icon_edit.gif" alt="" />
		    		</a>
		    		<a href="http://localhost:8080/goods_add" title="复制">
		    			<img src="/imgs/icon_copy.gif" alt="" />
		    		</a>
		    		<a href="#" title="回收站" onclick="del('<%= list[i]._id %>')">
		    			<img src="/imgs/icon_trash.gif" alt="" />
		    		</a>
		    	</td>
	    	</tr>
	     <% } %>
		</table>
	    <table cellspacing="0" cellpadding="0" id="page-table">
	    	<tr>
	    		<td align="right" nowrap="true">
	    		   <div class="turn-page">
	    		   	   总计
	    		   	 <span id="goods_num"><%= sum %></span>
	    		   	 个纪录&nbsp;&nbsp;分为
	    		   	 <span id="page_num"><%= Math.ceil(sum/count) %></span>页&nbsp;&nbsp;当前第
	    		   	 <span id="now_page"><%= pageNo %></span>页&nbsp;&nbsp;每页
	    		   	 <input type="text" value="<%= count %>" id="pageSize"/>
	    		   	 <span style="margin: 0 10px;">|</span>
	    		   	 <span id="page-style">
	    		   	 	<a href="/goods_list?pageNo=1&count=<%= count%>">第1页</a>
	    		   	 	<% if(pageNo>1) {%>
	    		   	 	<a href="/goods_list?pageNo=<%= pageNo-1 %>&count=<%= count %>" >上一页</a>
	    		   	 	<% } %>
                        <% if( pageNo<Math.ceil(sum/count) ) {%>
	    		   	 	<a href="/goods_list?pageNo=<%= pageNo+1 %>&count=<%= count %>">下一页</a>
	    		   	 	<% } %>
	    		   	 	<a href="/goods_list?pageNo=<%= Math.ceil(sum/count) %>&count=<%= count%>">最末页</a>
	    		   	 	<select name="go-page">
	    		   	 	<% for(var j=1; j<=Math.ceil(sum/count); j++) {%>
	    		   	 		<option value=""><%= j %></option>
	    		   	 	<% } %>
	    		   	 	</select>
	    		   	 </span>
	    		   </div>
	    	    </td>
	    	</tr>
	    </table>
	</div>
	<div>
		<select name="">
			<option value="">请选择...</option>
			<option value="">回收站</option>
			<option value="">上架</option>
			<option value="">下架</option>
			<option value="">精品</option>
			<option value="">新品</option>
		</select>
		<input type="submit" value="确定" />
	</div>
	<div id="footer">
		共执行 9 个查询，用时 0.024317 秒，Gzip 已禁用，内存占用 3.585 MB
    	<br />
		版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。	
    </div>
</body>
<script type="text/javascript">
	//委托实现为每一个span添加一个onclick事件
	$("#tabList").delegate("span","click",function(){
		var txt = $("<input type='text' style='width:50px'/>");
		var con = $(this).html()
		txt.val( con );
		$(this).html("");
		$(this).append(txt);
		txt.focus();
		var target = $(this);
		txt.blur(function(){
			if(txt.val()==""){
				target.html( con );
			}else{
				target.html( txt.val() );
			}
		})
	})
	//回收站
	/*$(".del_goods").click(function(){
		if(confirm("确定要删除此商品么")){
			$(this).parent().parent().remove();
		}
	})*/
    function del(gid){
		 $.ajax({
		 	   url : "/api/goods_del",
	           type : "get",
	           data : {
	           	  gid : gid
	           },
	           success : function(res){
	              console.log(res);
	              if(res.status == 1){
	              	  location.reload(true);
	              }else{
	              	alert(res.message);
	              }
	           }
			 })
		}
</script>
</html>